:root {
  --background: #181818;
  --aside: #202020;
  --header: #0D0D0D;
  --main_input: #121212;
  --primary: #3137C9;
  --primary-hover: #2529a2;
  --primary-light: #107EFF;
  --active: #ED3024;
  --grey: #3F3F3F;
  --circle: #C4C4C4;
  --photo: #EBEBEB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
  cursor: pointer;
}