.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.login_block > h1 {
    margin-bottom: 15px;
}