.main {
    margin: 110px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.new_post {
    width: 100%;
    height: 60px;
    aspect-ratio: 600 / 70;
    margin: 30px 0;
    background: var(--main_input);
    border: 1px solid var(--main_input);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px 3px #00000080;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s all;
    text-align: center;
}

.new_post:hover {
    background-color: var(--primary-hover);
}

.main_input > button > img {
    width: 30px;
}

.main_posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px
}


/* Modal styling */

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 2rem;
}

.modal_form > input, textarea{
    border: none;
    border-bottom: 1px solid #525252;
    outline: none;
    font-size: 1.2rem;
    color: white;
    background-color: var(--background);
    padding: 1rem 0;
}

.modal_form > textarea {
    min-height: 100px;
    resize: none;
    field-sizing: content;
}



.file-input label {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  border: 1px dashed #525252;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all .3s ease-out;
  background-size: cover;
  background-position: center;
}

.file-input label::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  border-radius: 15px;
  opacity: 0;
  transition: opacity .3s ease;
}

.file-input label:hover::after {
  opacity: 1;
}
